In [2]:
import pandas as pd

### OPENING A LOCAL CSV FILE

In [10]:
df=pd.read_csv('Titanic-Dataset.csv')
df.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

### OPENING A CSV FILE FROM URL

In [ ]:
#JAB EASILY KOI WEBSITE SE NA KHULE TB REQUEST BHEJNA PADTA HAI


import requests
from io import StringIO
url='https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv'
headers = {"User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.14; rv:66.0) Gecko/20100101 Firefox/66.0"}
req = requests.get(url, headers=headers)
data = StringIO(req.text)

pd.read_csv(data)

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [12]:
df1=pd.read_csv('https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv')
df1

       Country         Region
0      Algeria         AFRICA
1       Angola         AFRICA
2        Benin         AFRICA
3     Botswana         AFRICA
4      Burkina         AFRICA
..         ...            ...
189   Paraguay  SOUTH AMERICA
190       Peru  SOUTH AMERICA
191   Suriname  SOUTH AMERICA
192    Uruguay  SOUTH AMERICA
193  Venezuela  SOUTH AMERICA

[194 rows x 2 columns]

### SEP PARAMETER TSV FILES

In [16]:
pd.read_csv('countries_data.tsv',sep='\t')

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

### INDEX COL PARAMETER

In [18]:
pd.read_csv('netflix_titles.csv',index_col='show_id')

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
show_id,,,,,,,,,,,
s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...
s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

### HEADER PARAMETER

In [26]:
# JAHA SE HEADER DEGA WAHI SE DATA HEADER BANAKE SURU HO JAYEGA MEANS AGAR HEADER 1 CHOOSE KIYE TO USI KO HEADER BANAKE WAHI SE SURU HO JAYEGA
pd.read_csv('netflix_titles.csv',header=0)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

#### USE COLS PARAMETER

In [27]:
pd.read_csv('netflix_titles.csv',usecols=['show_id','title','type','director'])

     show_id     type                  title         director
0         s1    Movie   Dick Johnson Is Dead  Kirsten Johnson
1         s2  TV Show          Blood & Water              NaN
2         s3  TV Show              Ganglands  Julien Leclercq
3         s4  TV Show  Jailbirds New Orleans              NaN
4         s5  TV Show           Kota Factory              NaN
...      ...      ...                    ...              ...
8802   s8803    Movie                 Zodiac    David Fincher
8803   s8804  TV Show            Zombie Dumb              NaN
8804   s8805    Movie             Zombieland  Ruben Fleischer
8805   s8806    Movie                   Zoom     Peter Hewitt
8806   s8807    Movie                 Zubaan      Mozez Singh

[8807 rows x 4 columns]

#### skip rows

In [ ]:
# JITNA ROWS SELECT KRO UTNA HI SHOW KREGA
pd.read_csv('netflix_titles.csv',nrows=200)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
195,s196,Movie,EMI: Liya Hai To Chukana Padega,Saurabh Kabra,"Sanjay Dutt, Arjun Rampal, Malaika Arora, Aash...",India,"August 27, 2021",2008,TV-14,128 min,"Comedies, Dramas, International Movies",A bank hires an enigmatic and unorthodox debt ...
196,s197,Movie,He's All That,Mark Waters,"Addison Rae, Tanner Buchanan, Rachael Leigh Co...",NaN,"August 27, 2021",2021,TV-14,92 min,"Comedies, Romantic Movies",An influencer specializing in makeovers bets s...
197,s198,TV Show,I Heart Arlo,NaN,"Michael J. Woodard, Mary Lambert, Jonathan Van...",NaN,"August 27, 2021",2021,TV-Y7,1 Season,"Kids' TV, TV Comedies",It's a whole new world for Arlo and his one-of...
198,s199,TV Show,King of Boys: The Return of the King,Kemi Adetiba,"Sola Sobowale, Toni Tones, Richard Mofe-Damijo...",Nigeria,"August 27, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Dramas",Alhaja Eniola Salami starts anew and sets her ...
199,s200,Movie,Koi Aap Sa,Partho Mitra,"Aftab Shivdasani, Natassha, Dipannita Sharma, ...",India,"August 27, 2021",2006,TV-14,135 min,"Comedies, Dramas, International Movies",Star athlete Rohan has his eye on a beautiful ...

In [34]:
pd.read_csv('zomato.csv',encoding='latin1')

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9546,5915730,NamlÛ± Gurme,208,ÛÁstanbul,"Kemankeô Karamustafa Paôa Mahallesi, RÛ±htÛ±...",Karakí_y,"Karakí_y, ÛÁstanbul",28.977392,41.022793,Turkish,...,Turkish Lira(TL),No,No,No,No,3,4.1,Green,Very Good,788
9547,5908749,Ceviz AÛôacÛ±,208,ÛÁstanbul,"Koôuyolu Mahallesi, Muhittin íìstí_ndaÛô Cadd...",Koôuyolu,"Koôuyolu, ÛÁstanbul",29.041297,41.009847,"World Cuisine, Patisserie, Cafe",...,Turkish Lira(TL),No,No,No,No,3,4.2,Green,Very Good,1034
9548,5915807,Huqqa,208,ÛÁstanbul,"Kuruí_eôme Mahallesi, Muallim Naci Caddesi, N...",Kuruí_eôme,"Kuruí_eôme, ÛÁstanbul",29.034640,41.055817,"Italian, World Cuisine",...,Turkish Lira(TL),No,No,No,No,4,3.7,Yellow,Good,661
9549,5916112,Aôôk Kahve,208,ÛÁstanbul,"Kuruí_eôme Mahallesi, Muallim Naci Caddesi, N...",Kuruí_eôme,"Kuruí_eôme, ÛÁstanbul",29.036019,41.057979,Restaurant Cafe,...,Turkish Lira(TL),No,No,No,No,4,4.0,Green,Very Good,901
9550,5927402,Walter's Coffee Roastery,208,ÛÁstanbul,"CafeaÛôa Mahallesi, BademaltÛ± Sokak, No 21/B,...",Moda,"Moda, ÛÁstanbul",29.026016,40.984776,Cafe,...,Turkish Lira(TL),No,No,No,No,2,4.0,Green,Very Good,591

In [4]:
pd.read_csv('zomato.csv',encoding='latin1',usecols=['City'])

                  City
0          Makati City
1          Makati City
2     Mandaluyong City
3     Mandaluyong City
4     Mandaluyong City
...                ...
9546         ÛÁstanbul
9547         ÛÁstanbul
9548         ÛÁstanbul
9549         ÛÁstanbul
9550         ÛÁstanbul

[9551 rows x 1 columns]

#### ON BAD LINES SKIP ME JINKA BHI FORMAT WRONG HOGA WO SKIP HO JAYEGA

In [9]:
pd.read_csv('https://raw.githubusercontent.com/bigsnarfdude/guide-to-data-mining/master/BX-Dump/BX-Books.csv', sep=';', on_bad_lines='skip')

C:\Users\hp\AppData\Local\Temp\ipykernel_22408\982821803.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  pd.read_csv('https://raw.githubusercontent.com/bigsnarfdude/guide-to-data-mining/master/BX-Dump/BX-Books.csv', sep=';', on_bad_lines='skip')

,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0195153448.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0195153448.01.LZZZZZZZ.jpg
0,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
1,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
2,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
3,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...
4,0399135782,The Kitchen God's Wife,Amy Tan,1991,Putnam Pub Group,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...
...,...,...,...,...,...,...,...,...
271354,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm),http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...
271355,0525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...
271356,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...
271357,0192126040,Republic (World's Classics),Plato,1996,Oxford University Press,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...
271358,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...

#### D TYPES PARAMETER

In [ ]:
# JAHA PAR ISKO LAGTA H INT HONA CHAIYE WAHA PAR DTYPE USKO INT BANA DETA  H
pd.read_csv('Titanic-Dataset.csv',dtype={'target':int}).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [17]:
pd.read_csv('IPL.csv')

C:\Users\hp\AppData\Local\Temp\ipykernel_22408\2434547604.py:1: DtypeWarning: Columns (28,29,30,31,43,46,47,48,51) have mixed types. Specify dtype option on import or set low_memory=False.
  pd.read_csv('IPL.csv')

,Unnamed: 0,match_id,date,match_type,event_name,innings,batting_team,bowling_team,over,ball,...,team_runs,team_balls,team_wicket,new_batter,batter_runs,batter_balls,bowler_wicket,batting_partners,next_batter,striker_out
0,131970,335982,2008-04-18,T20,Indian Premier League,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,...,1,1,0,NaN,0,1,0,"('BB McCullum', 'SC Ganguly')",NaN,False
1,131971,335982,2008-04-18,T20,Indian Premier League,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,...,1,2,0,NaN,0,1,0,"('BB McCullum', 'SC Ganguly')",NaN,False
2,131972,335982,2008-04-18,T20,Indian Premier League,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,...,2,2,0,NaN,0,1,0,"('BB McCullum', 'SC Ganguly')",NaN,False
3,131973,335982,2008-04-18,T20,Indian Premier League,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,...,2,3,0,NaN,0,2,0,"('BB McCullum', 'SC Ganguly')",NaN,False
4,131974,335982,2008-04-18,T20,Indian Premier League,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,...,2,4,0,NaN,0,3,0,"('BB McCullum', 'SC Ganguly')",NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278200,277951,1473511,2025-06-03,T20,Indian Premier League,2,Punjab Kings,Royal Challengers Bengaluru,19,2,...,162,116,7,NaN,39,26,0,"('KA Jamieson', 'Shashank Singh')",NaN,False
278201,277952,1473511,2025-06-03,T20,Indian Premier League,2,Punjab Kings,Royal Challengers Bengaluru,19,3,...,168,117,7,NaN,45,27,0,"('KA Jamieson', 'Shashank Singh')",NaN,False
278202,277953,1473511,2025-06-03,T20,Indian Premier League,2,Punjab Kings,Royal Challengers Bengaluru,19,4,...,172,118,7,NaN,49,28,0,"('KA Jamieson', 'Shashank Singh')",NaN,False
278203,277954,1473511,2025-06-03,T20,Indian Premier League,2,Punjab Kings,Royal Challengers Bengaluru,19,5,...,178,119,7,NaN,55,29,0,"('KA Jamieson', 'Shashank Singh')",NaN,False
278204,277955,1473511,2025-06-03,T20,Indian Premier League,2,Punjab Kings,Royal Challengers Bengaluru,19,6,...,184,120,7,NaN,61,30,0,"('KA Jamieson', 'Shashank Singh')",NaN,False

In [26]:
def rename(name):
    if name=='Royal Challengers Bangalore':
        return 'RCB'
    elif name=='Indian Premier League':
        return 'IPL'
    else:
        return name

In [ ]:
rename('Royal Challengers Bangalore')

'RCB'

In [27]:
rename('Indian Premier League')

'IPL'

#### CONVERTORS

In [28]:
pd.read_csv('IPL.csv',converters={'bowling_team':rename,'event_name':rename})

C:\Users\hp\AppData\Local\Temp\ipykernel_22408\4025625844.py:1: DtypeWarning: Columns (28,29,30,31,43,46,47,48,51) have mixed types. Specify dtype option on import or set low_memory=False.
  pd.read_csv('IPL.csv',converters={'bowling_team':rename,'event_name':rename})

,Unnamed: 0,match_id,date,match_type,event_name,innings,batting_team,bowling_team,over,ball,...,team_runs,team_balls,team_wicket,new_batter,batter_runs,batter_balls,bowler_wicket,batting_partners,next_batter,striker_out
0,131970,335982,2008-04-18,T20,IPL,1,Kolkata Knight Riders,RCB,0,1,...,1,1,0,NaN,0,1,0,"('BB McCullum', 'SC Ganguly')",NaN,False
1,131971,335982,2008-04-18,T20,IPL,1,Kolkata Knight Riders,RCB,0,2,...,1,2,0,NaN,0,1,0,"('BB McCullum', 'SC Ganguly')",NaN,False
2,131972,335982,2008-04-18,T20,IPL,1,Kolkata Knight Riders,RCB,0,3,...,2,2,0,NaN,0,1,0,"('BB McCullum', 'SC Ganguly')",NaN,False
3,131973,335982,2008-04-18,T20,IPL,1,Kolkata Knight Riders,RCB,0,3,...,2,3,0,NaN,0,2,0,"('BB McCullum', 'SC Ganguly')",NaN,False
4,131974,335982,2008-04-18,T20,IPL,1,Kolkata Knight Riders,RCB,0,4,...,2,4,0,NaN,0,3,0,"('BB McCullum', 'SC Ganguly')",NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278200,277951,1473511,2025-06-03,T20,IPL,2,Punjab Kings,Royal Challengers Bengaluru,19,2,...,162,116,7,NaN,39,26,0,"('KA Jamieson', 'Shashank Singh')",NaN,False
278201,277952,1473511,2025-06-03,T20,IPL,2,Punjab Kings,Royal Challengers Bengaluru,19,3,...,168,117,7,NaN,45,27,0,"('KA Jamieson', 'Shashank Singh')",NaN,False
278202,277953,1473511,2025-06-03,T20,IPL,2,Punjab Kings,Royal Challengers Bengaluru,19,4,...,172,118,7,NaN,49,28,0,"('KA Jamieson', 'Shashank Singh')",NaN,False
278203,277954,1473511,2025-06-03,T20,IPL,2,Punjab Kings,Royal Challengers Bengaluru,19,5,...,178,119,7,NaN,55,29,0,"('KA Jamieson', 'Shashank Singh')",NaN,False
278204,277955,1473511,2025-06-03,T20,IPL,2,Punjab Kings,Royal Challengers Bengaluru,19,6,...,184,120,7,NaN,61,30,0,"('KA Jamieson', 'Shashank Singh')",NaN,False

In [29]:
dfs = pd.read_csv('IPL.csv',chunksize=5000)

In [ ]:
# ENUMERATE HM TB USE KRTE H JAB HAME USKE SATH USKA INDEX BHI CHAIYE HOTA H 

dfs = pd.read_csv('IPL.csv', chunksize=5000)
for i, chunks in enumerate(dfs):
    print(f"Chunk {i+1}:")
    display(chunks.head(5))

Chunk 1:

,Unnamed: 0,match_id,date,match_type,event_name,innings,batting_team,bowling_team,over,ball,...,team_runs,team_balls,team_wicket,new_batter,batter_runs,batter_balls,bowler_wicket,batting_partners,next_batter,striker_out
0,131970,335982,2008-04-18,T20,Indian Premier League,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,...,1,1,0,NaN,0,1,0,"('BB McCullum', 'SC Ganguly')",NaN,False
1,131971,335982,2008-04-18,T20,Indian Premier League,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,...,1,2,0,NaN,0,1,0,"('BB McCullum', 'SC Ganguly')",NaN,False
2,131972,335982,2008-04-18,T20,Indian Premier League,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,...,2,2,0,NaN,0,1,0,"('BB McCullum', 'SC Ganguly')",NaN,False
3,131973,335982,2008-04-18,T20,Indian Premier League,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,...,2,3,0,NaN,0,2,0,"('BB McCullum', 'SC Ganguly')",NaN,False
4,131974,335982,2008-04-18,T20,Indian Premier League,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,...,2,4,0,NaN,0,3,0,"('BB McCullum', 'SC Ganguly')",NaN,False

Chunk 2:

,Unnamed: 0,match_id,date,match_type,event_name,innings,batting_team,bowling_team,over,ball,...,team_runs,team_balls,team_wicket,new_batter,batter_runs,batter_balls,bowler_wicket,batting_partners,next_batter,striker_out
5000,137210,336003,2008-05-03,T20,Indian Premier League,2,Kolkata Knight Riders,Kings XI Punjab,19,6,...,169,120,6,NaN,59,32,0,"('AB Agarkar', 'WP Saha')",NaN,False
5001,143776,336034,2008-05-03,T20,Indian Premier League,1,Royal Challengers Bangalore,Deccan Chargers,0,1,...,0,1,0,NaN,0,1,0,"('B Chipli', 'W Jaffer')",NaN,False
5002,143777,336034,2008-05-03,T20,Indian Premier League,1,Royal Challengers Bangalore,Deccan Chargers,0,2,...,1,2,0,NaN,1,2,0,"('B Chipli', 'W Jaffer')",NaN,False
5003,143778,336034,2008-05-03,T20,Indian Premier League,1,Royal Challengers Bangalore,Deccan Chargers,0,3,...,1,3,0,NaN,0,1,0,"('B Chipli', 'W Jaffer')",NaN,False
5004,143779,336034,2008-05-03,T20,Indian Premier League,1,Royal Challengers Bangalore,Deccan Chargers,0,4,...,1,4,0,NaN,0,2,0,"('B Chipli', 'W Jaffer')",NaN,False

Chunk 3:

,Unnamed: 0,match_id,date,match_type,event_name,innings,batting_team,bowling_team,over,ball,...,team_runs,team_balls,team_wicket,new_batter,batter_runs,batter_balls,bowler_wicket,batting_partners,next_batter,striker_out
10000,142428,336027,2008-05-20,T20,Indian Premier League,1,Kolkata Knight Riders,Rajasthan Royals,18,1,...,127,109,6,AB Agarkar,4,1,0,"('AB Agarkar', 'WP Saha')",NaN,False
10001,142429,336027,2008-05-20,T20,Indian Premier League,1,Kolkata Knight Riders,Rajasthan Royals,18,2,...,128,110,6,NaN,5,2,0,"('AB Agarkar', 'WP Saha')",NaN,False
10002,142430,336027,2008-05-20,T20,Indian Premier League,1,Kolkata Knight Riders,Rajasthan Royals,18,3,...,129,111,7,NaN,2,2,0,"('AB Agarkar', 'WP Saha')",Umar Gul,False
10003,142431,336027,2008-05-20,T20,Indian Premier League,1,Kolkata Knight Riders,Rajasthan Royals,18,4,...,130,112,7,Umar Gul,1,1,0,"('Umar Gul', 'WP Saha')",NaN,False
10004,142432,336027,2008-05-20,T20,Indian Premier League,1,Kolkata Knight Riders,Rajasthan Royals,18,5,...,136,113,7,NaN,8,3,0,"('Umar Gul', 'WP Saha')",NaN,False

Chunk 4:

,Unnamed: 0,match_id,date,match_type,event_name,innings,batting_team,bowling_team,over,ball,...,team_runs,team_balls,team_wicket,new_batter,batter_runs,batter_balls,bowler_wicket,batting_partners,next_batter,striker_out
15000,146970,392189,2009-04-23,T20,Indian Premier League,1,Delhi Daredevils,Chennai Super Kings,14,1,...,116,85,4,MK Tiwary,41,32,0,"('AB de Villiers', 'MK Tiwary')",NaN,False
15001,146971,392189,2009-04-23,T20,Indian Premier League,1,Delhi Daredevils,Chennai Super Kings,14,2,...,122,86,4,NaN,47,33,0,"('AB de Villiers', 'MK Tiwary')",NaN,False
15002,146972,392189,2009-04-23,T20,Indian Premier League,1,Delhi Daredevils,Chennai Super Kings,14,3,...,123,87,4,NaN,48,34,0,"('AB de Villiers', 'MK Tiwary')",NaN,False
15003,146973,392189,2009-04-23,T20,Indian Premier League,1,Delhi Daredevils,Chennai Super Kings,14,4,...,123,88,4,NaN,0,1,0,"('AB de Villiers', 'MK Tiwary')",NaN,False
15004,146974,392189,2009-04-23,T20,Indian Premier League,1,Delhi Daredevils,Chennai Super Kings,14,5,...,123,89,4,NaN,0,2,0,"('AB de Villiers', 'MK Tiwary')",NaN,False

Chunk 5:

,Unnamed: 0,match_id,date,match_type,event_name,innings,batting_team,bowling_team,over,ball,...,team_runs,team_balls,team_wicket,new_batter,batter_runs,batter_balls,bowler_wicket,batting_partners,next_batter,striker_out
20000,151970,392210,2009-05-05,T20,Indian Premier League,2,Kings XI Punjab,Rajasthan Royals,10,3,...,62,63,5,NaN,8,11,0,"('IK Pathan', 'Yuvraj Singh')",NaN,False
20001,151971,392210,2009-05-05,T20,Indian Premier League,2,Kings XI Punjab,Rajasthan Royals,10,4,...,63,64,5,NaN,9,12,0,"('IK Pathan', 'Yuvraj Singh')",NaN,False
20002,151972,392210,2009-05-05,T20,Indian Premier League,2,Kings XI Punjab,Rajasthan Royals,10,5,...,65,65,5,NaN,11,9,0,"('IK Pathan', 'Yuvraj Singh')",NaN,False
20003,151973,392210,2009-05-05,T20,Indian Premier League,2,Kings XI Punjab,Rajasthan Royals,10,6,...,65,66,5,NaN,11,10,0,"('IK Pathan', 'Yuvraj Singh')",NaN,False
20004,151974,392210,2009-05-05,T20,Indian Premier League,2,Kings XI Punjab,Rajasthan Royals,11,1,...,65,67,5,NaN,9,13,0,"('IK Pathan', 'Yuvraj Singh')",NaN,False

Chunk 6:

,Unnamed: 0,match_id,date,match_type,event_name,innings,batting_team,bowling_team,over,ball,...,team_runs,team_balls,team_wicket,new_batter,batter_runs,batter_balls,bowler_wicket,batting_partners,next_batter,striker_out
25000,156970,392231,2009-05-18,T20,Indian Premier League,1,Chennai Super Kings,Kolkata Knight Riders,14,2,...,122,86,2,NaN,30,25,0,"('MS Dhoni', 'SK Raina')",NaN,False
25001,156971,392231,2009-05-18,T20,Indian Premier League,1,Chennai Super Kings,Kolkata Knight Riders,14,3,...,122,87,2,NaN,30,26,0,"('MS Dhoni', 'SK Raina')",NaN,False
25002,156972,392231,2009-05-18,T20,Indian Premier League,1,Chennai Super Kings,Kolkata Knight Riders,14,4,...,122,88,2,NaN,30,27,0,"('MS Dhoni', 'SK Raina')",NaN,False
25003,156973,392231,2009-05-18,T20,Indian Premier League,1,Chennai Super Kings,Kolkata Knight Riders,14,5,...,123,89,2,NaN,31,28,0,"('MS Dhoni', 'SK Raina')",NaN,False
25004,156974,392231,2009-05-18,T20,Indian Premier League,1,Chennai Super Kings,Kolkata Knight Riders,14,6,...,123,90,2,NaN,21,16,0,"('MS Dhoni', 'SK Raina')",NaN,False

Chunk 7:

,Unnamed: 0,match_id,date,match_type,event_name,innings,batting_team,bowling_team,over,ball,...,team_runs,team_balls,team_wicket,new_batter,batter_runs,batter_balls,bowler_wicket,batting_partners,next_batter,striker_out
30000,161970,419118,2010-03-20,T20,Indian Premier League,1,Rajasthan Royals,Kolkata Knight Riders,2,5,...,26,17,1,NaN,22,13,0,"('FY Fazal', 'NV Ojha')",NaN,False
30001,161971,419118,2010-03-20,T20,Indian Premier League,1,Rajasthan Royals,Kolkata Knight Riders,2,6,...,27,18,1,NaN,23,14,0,"('FY Fazal', 'NV Ojha')",NaN,False
30002,161972,419118,2010-03-20,T20,Indian Premier League,1,Rajasthan Royals,Kolkata Knight Riders,3,1,...,27,19,1,NaN,23,15,0,"('FY Fazal', 'NV Ojha')",NaN,False
30003,161973,419118,2010-03-20,T20,Indian Premier League,1,Rajasthan Royals,Kolkata Knight Riders,3,2,...,29,20,1,NaN,25,16,0,"('FY Fazal', 'NV Ojha')",NaN,False
30004,161974,419118,2010-03-20,T20,Indian Premier League,1,Rajasthan Royals,Kolkata Knight Riders,3,3,...,30,21,1,NaN,25,17,0,"('FY Fazal', 'NV Ojha')",NaN,False

Chunk 8:

,Unnamed: 0,match_id,date,match_type,event_name,innings,batting_team,bowling_team,over,ball,...,team_runs,team_balls,team_wicket,new_batter,batter_runs,batter_balls,bowler_wicket,batting_partners,next_batter,striker_out
35000,166970,419138,2010-04-03,T20,Indian Premier League,1,Mumbai Indians,Deccan Chargers,18,6,...,164,114,4,NaN,55,29,0,"('AT Rayudu', 'KA Pollard')",NaN,False
35001,166971,419138,2010-04-03,T20,Indian Premier League,1,Mumbai Indians,Deccan Chargers,19,1,...,166,115,4,NaN,9,5,0,"('AT Rayudu', 'KA Pollard')",NaN,False
35002,166972,419138,2010-04-03,T20,Indian Premier League,1,Mumbai Indians,Deccan Chargers,19,2,...,168,116,4,NaN,11,6,0,"('AT Rayudu', 'KA Pollard')",NaN,False
35003,166973,419138,2010-04-03,T20,Indian Premier League,1,Mumbai Indians,Deccan Chargers,19,3,...,172,117,4,NaN,15,7,0,"('AT Rayudu', 'KA Pollard')",NaN,False
35004,166974,419138,2010-04-03,T20,Indian Premier League,1,Mumbai Indians,Deccan Chargers,19,4,...,174,118,4,NaN,17,8,0,"('AT Rayudu', 'KA Pollard')",NaN,False

Chunk 9:

,Unnamed: 0,match_id,date,match_type,event_name,innings,batting_team,bowling_team,over,ball,...,team_runs,team_balls,team_wicket,new_batter,batter_runs,batter_balls,bowler_wicket,batting_partners,next_batter,striker_out
40000,171970,419159,2010-04-18,T20,Indian Premier League,1,Kings XI Punjab,Chennai Super Kings,11,6,...,93,72,3,NaN,1,4,1,"('SE Marsh', 'Yuvraj Singh')",IK Pathan,True
40001,171971,419159,2010-04-18,T20,Indian Premier League,1,Kings XI Punjab,Chennai Super Kings,12,1,...,94,73,3,IK Pathan,36,37,0,"('IK Pathan', 'SE Marsh')",NaN,False
40002,171972,419159,2010-04-18,T20,Indian Premier League,1,Kings XI Punjab,Chennai Super Kings,12,2,...,95,74,3,NaN,1,1,0,"('IK Pathan', 'SE Marsh')",NaN,False
40003,171973,419159,2010-04-18,T20,Indian Premier League,1,Kings XI Punjab,Chennai Super Kings,12,3,...,101,75,3,NaN,42,38,0,"('IK Pathan', 'SE Marsh')",NaN,False
40004,171974,419159,2010-04-18,T20,Indian Premier League,1,Kings XI Punjab,Chennai Super Kings,12,4,...,102,76,3,NaN,43,39,0,"('IK Pathan', 'SE Marsh')",NaN,False

Chunk 10:

,Unnamed: 0,match_id,date,match_type,event_name,innings,batting_team,bowling_team,over,ball,...,team_runs,team_balls,team_wicket,new_batter,batter_runs,batter_balls,bowler_wicket,batting_partners,next_batter,striker_out
45000,176970,501212,2011-04-16,T20,Indian Premier League,1,Deccan Chargers,Kings XI Punjab,10,6,...,88,66,2,NaN,35,28,1,"('KC Sangakkara', 'S Dhawan')",JP Duminy,True
45001,176971,501212,2011-04-16,T20,Indian Premier League,1,Deccan Chargers,Kings XI Punjab,11,1,...,89,67,2,JP Duminy,1,1,0,"('JP Duminy', 'S Dhawan')",NaN,False
45002,176972,501212,2011-04-16,T20,Indian Premier League,1,Deccan Chargers,Kings XI Punjab,11,2,...,90,68,2,NaN,45,34,0,"('JP Duminy', 'S Dhawan')",NaN,False
45003,176973,501212,2011-04-16,T20,Indian Premier League,1,Deccan Chargers,Kings XI Punjab,11,3,...,91,69,2,NaN,2,2,0,"('JP Duminy', 'S Dhawan')",NaN,False
45004,176974,501212,2011-04-16,T20,Indian Premier League,1,Deccan Chargers,Kings XI Punjab,11,4,...,91,70,2,NaN,45,35,0,"('JP Duminy', 'S Dhawan')",NaN,False

Chunk 11:

,Unnamed: 0,match_id,date,match_type,event_name,innings,batting_team,bowling_team,over,ball,...,team_runs,team_balls,team_wicket,new_batter,batter_runs,batter_balls,bowler_wicket,batting_partners,next_batter,striker_out
50000,181970,501234,2011-04-30,T20,Indian Premier League,1,Kings XI Punjab,Kolkata Knight Riders,14,4,...,86,88,4,NaN,27,26,0,"('DJ Hussey', 'KD Karthik')",NaN,False
50001,181971,501234,2011-04-30,T20,Indian Premier League,1,Kings XI Punjab,Kolkata Knight Riders,14,5,...,86,89,4,NaN,15,19,0,"('DJ Hussey', 'KD Karthik')",NaN,False
50002,181972,501234,2011-04-30,T20,Indian Premier League,1,Kings XI Punjab,Kolkata Knight Riders,14,6,...,86,90,5,NaN,15,20,1,"('DJ Hussey', 'KD Karthik')",Bipul Sharma,True
50003,181973,501234,2011-04-30,T20,Indian Premier League,1,Kings XI Punjab,Kolkata Knight Riders,15,1,...,86,91,5,Bipul Sharma,27,27,0,"('Bipul Sharma', 'KD Karthik')",NaN,False
50004,181974,501234,2011-04-30,T20,Indian Premier League,1,Kings XI Punjab,Kolkata Knight Riders,15,2,...,86,92,5,NaN,27,28,0,"('Bipul Sharma', 'KD Karthik')",NaN,False

Chunk 12:

,Unnamed: 0,match_id,date,match_type,event_name,innings,batting_team,bowling_team,over,ball,...,team_runs,team_balls,team_wicket,new_batter,batter_runs,batter_balls,bowler_wicket,batting_partners,next_batter,striker_out
55000,186970,501255,2011-05-14,T20,Indian Premier League,2,Royal Challengers Bangalore,Kolkata Knight Riders,10,3,...,95,62,3,NaN,15,12,0,"('AB de Villiers', 'M Kaif')",NaN,False
55001,186971,501255,2011-05-14,T20,Indian Premier League,2,Royal Challengers Bangalore,Kolkata Knight Riders,10,4,...,95,63,4,NaN,15,13,1,"('AB de Villiers', 'M Kaif')",KB Arun Karthik,True
55002,186972,501255,2011-05-14,T20,Indian Premier League,2,Royal Challengers Bangalore,Kolkata Knight Riders,10,5,...,96,64,4,KB Arun Karthik,1,1,0,"('AB de Villiers', 'KB Arun Karthik')",NaN,False
55003,186973,501255,2011-05-14,T20,Indian Premier League,2,Royal Challengers Bangalore,Kolkata Knight Riders,10,6,...,96,65,4,NaN,7,10,0,"('AB de Villiers', 'KB Arun Karthik')",NaN,False
55004,186974,501255,2011-05-14,T20,Indian Premier League,2,Royal Challengers Bangalore,Kolkata Knight Riders,11,1,...,96,66,5,NaN,1,2,1,"('AB de Villiers', 'KB Arun Karthik')",SS Tiwary,True

Chunk 13:

,Unnamed: 0,match_id,date,match_type,event_name,innings,batting_team,bowling_team,over,ball,...,team_runs,team_balls,team_wicket,new_batter,batter_runs,batter_balls,bowler_wicket,batting_partners,next_batter,striker_out
60000,191970,548312,2012-04-08,T20,Indian Premier League,1,Rajasthan Royals,Kolkata Knight Riders,7,6,...,57,48,2,NaN,9,5,0,"('AL Menaria', 'SP Goswami')",NaN,False
60001,191971,548312,2012-04-08,T20,Indian Premier League,1,Rajasthan Royals,Kolkata Knight Riders,8,1,...,58,49,2,NaN,21,16,0,"('AL Menaria', 'SP Goswami')",NaN,False
60002,191972,548312,2012-04-08,T20,Indian Premier League,1,Rajasthan Royals,Kolkata Knight Riders,8,2,...,59,50,2,NaN,10,6,0,"('AL Menaria', 'SP Goswami')",NaN,False
60003,191973,548312,2012-04-08,T20,Indian Premier League,1,Rajasthan Royals,Kolkata Knight Riders,8,3,...,61,51,2,NaN,23,17,0,"('AL Menaria', 'SP Goswami')",NaN,False
60004,191974,548312,2012-04-08,T20,Indian Premier League,1,Rajasthan Royals,Kolkata Knight Riders,8,4,...,61,52,3,NaN,23,18,1,"('AL Menaria', 'SP Goswami')",BJ Hodge,True

Chunk 14:

,Unnamed: 0,match_id,date,match_type,event_name,innings,batting_team,bowling_team,over,ball,...,team_runs,team_balls,team_wicket,new_batter,batter_runs,batter_balls,bowler_wicket,batting_partners,next_batter,striker_out
65000,197195,548333,2012-04-21,T20,Indian Premier League,2,Delhi Daredevils,Pune Warriors,19,4,...,170,118,7,NaN,10,5,0,"('M Morkel', 'NV Ojha')",NaN,False
65001,197196,548333,2012-04-21,T20,Indian Premier League,2,Delhi Daredevils,Pune Warriors,19,5,...,171,119,7,NaN,1,1,0,"('M Morkel', 'NV Ojha')",NaN,False
65002,197197,548333,2012-04-21,T20,Indian Premier League,2,Delhi Daredevils,Pune Warriors,19,6,...,172,120,7,NaN,11,6,0,"('M Morkel', 'NV Ojha')",NaN,False
65003,197198,548334,2012-04-22,T20,Indian Premier League,1,Mumbai Indians,Kings XI Punjab,0,1,...,0,1,0,NaN,0,1,0,"('JEC Franklin', 'SR Tendulkar')",NaN,False
65004,197199,548334,2012-04-22,T20,Indian Premier League,1,Mumbai Indians,Kings XI Punjab,0,2,...,0,2,0,NaN,0,2,0,"('JEC Franklin', 'SR Tendulkar')",NaN,False

Chunk 15:

,Unnamed: 0,match_id,date,match_type,event_name,innings,batting_team,bowling_team,over,ball,...,team_runs,team_balls,team_wicket,new_batter,batter_runs,batter_balls,bowler_wicket,batting_partners,next_batter,striker_out
70000,202195,548356,2012-05-06,T20,Indian Premier League,1,Deccan Chargers,Royal Challengers Bangalore,19,2,...,169,116,2,KC Sangakkara,73,51,0,"('KC Sangakkara', 'S Dhawan')",NaN,False
70001,202196,548356,2012-05-06,T20,Indian Premier League,1,Deccan Chargers,Royal Challengers Bangalore,19,3,...,173,117,2,NaN,4,1,0,"('KC Sangakkara', 'S Dhawan')",NaN,False
70002,202197,548356,2012-05-06,T20,Indian Premier League,1,Deccan Chargers,Royal Challengers Bangalore,19,4,...,174,118,2,NaN,4,2,0,"('KC Sangakkara', 'S Dhawan')",NaN,False
70003,202198,548356,2012-05-06,T20,Indian Premier League,1,Deccan Chargers,Royal Challengers Bangalore,19,5,...,175,119,2,NaN,73,52,0,"('KC Sangakkara', 'S Dhawan')",NaN,False
70004,202199,548356,2012-05-06,T20,Indian Premier League,1,Deccan Chargers,Royal Challengers Bangalore,19,6,...,181,120,2,NaN,10,3,0,"('KC Sangakkara', 'S Dhawan')",NaN,False

Chunk 16:

,Unnamed: 0,match_id,date,match_type,event_name,innings,batting_team,bowling_team,over,ball,...,team_runs,team_balls,team_wicket,new_batter,batter_runs,batter_balls,bowler_wicket,batting_partners,next_batter,striker_out
75000,206970,548376,2012-05-20,T20,Indian Premier League,1,Deccan Chargers,Royal Challengers Bangalore,15,4,...,83,94,4,NaN,38,38,0,"('JP Duminy', 'PA Patel')",NaN,False
75001,206971,548376,2012-05-20,T20,Indian Premier League,1,Deccan Chargers,Royal Challengers Bangalore,15,5,...,83,95,4,NaN,38,39,0,"('JP Duminy', 'PA Patel')",NaN,False
75002,206972,548376,2012-05-20,T20,Indian Premier League,1,Deccan Chargers,Royal Challengers Bangalore,15,6,...,84,96,4,NaN,39,40,0,"('JP Duminy', 'PA Patel')",NaN,False
75003,206973,548376,2012-05-20,T20,Indian Premier League,1,Deccan Chargers,Royal Challengers Bangalore,16,1,...,88,97,4,NaN,43,41,0,"('JP Duminy', 'PA Patel')",NaN,False
75004,206974,548376,2012-05-20,T20,Indian Premier League,1,Deccan Chargers,Royal Challengers Bangalore,16,2,...,89,98,4,NaN,44,42,0,"('JP Duminy', 'PA Patel')",NaN,False

Chunk 17:

,Unnamed: 0,match_id,date,match_type,event_name,innings,batting_team,bowling_team,over,ball,...,team_runs,team_balls,team_wicket,new_batter,batter_runs,batter_balls,bowler_wicket,batting_partners,next_batter,striker_out
80000,211735,598012,2013-04-13,T20,Indian Premier League,1,Royal Challengers Bangalore,Chennai Super Kings,4,3,...,23,27,1,NaN,6,5,0,"('MA Agarwal', 'V Kohli')",NaN,False
80001,211736,598012,2013-04-13,T20,Indian Premier League,1,Royal Challengers Bangalore,Chennai Super Kings,4,4,...,26,28,1,NaN,9,6,0,"('MA Agarwal', 'V Kohli')",NaN,False
80002,211737,598012,2013-04-13,T20,Indian Premier League,1,Royal Challengers Bangalore,Chennai Super Kings,4,5,...,26,29,1,NaN,12,13,0,"('MA Agarwal', 'V Kohli')",NaN,False
80003,211738,598012,2013-04-13,T20,Indian Premier League,1,Royal Challengers Bangalore,Chennai Super Kings,4,6,...,26,30,1,NaN,12,14,0,"('MA Agarwal', 'V Kohli')",NaN,False
80004,211739,598012,2013-04-13,T20,Indian Premier League,1,Royal Challengers Bangalore,Chennai Super Kings,5,1,...,26,31,1,NaN,9,7,0,"('MA Agarwal', 'V Kohli')",NaN,False

Chunk 18:

,Unnamed: 0,match_id,date,match_type,event_name,innings,batting_team,bowling_team,over,ball,...,team_runs,team_balls,team_wicket,new_batter,batter_runs,batter_balls,bowler_wicket,batting_partners,next_batter,striker_out
85000,216753,598032,2013-04-27,T20,Indian Premier League,2,Rajasthan Royals,Sunrisers Hyderabad,12,5,...,81,77,2,NaN,36,35,1,"('R Dravid', 'SR Watson')",STR Binny,True
85001,216754,598032,2013-04-27,T20,Indian Premier League,2,Rajasthan Royals,Sunrisers Hyderabad,12,6,...,82,78,2,STR Binny,43,34,0,"('SR Watson', 'STR Binny')",NaN,False
85002,216755,598032,2013-04-27,T20,Indian Premier League,2,Rajasthan Royals,Sunrisers Hyderabad,13,1,...,83,79,2,NaN,44,35,0,"('SR Watson', 'STR Binny')",NaN,False
85003,216756,598032,2013-04-27,T20,Indian Premier League,2,Rajasthan Royals,Sunrisers Hyderabad,13,2,...,84,80,2,NaN,1,1,0,"('SR Watson', 'STR Binny')",NaN,False
85004,216757,598032,2013-04-27,T20,Indian Premier League,2,Rajasthan Royals,Sunrisers Hyderabad,13,3,...,88,81,2,NaN,48,36,0,"('SR Watson', 'STR Binny')",NaN,False

Chunk 19:

,Unnamed: 0,match_id,date,match_type,event_name,innings,batting_team,bowling_team,over,ball,...,team_runs,team_balls,team_wicket,new_batter,batter_runs,batter_balls,bowler_wicket,batting_partners,next_batter,striker_out
90000,221989,598054,2013-05-10,T20,Indian Premier League,2,Delhi Daredevils,Royal Challengers Bangalore,7,3,...,62,45,3,NaN,2,4,0,"('BJ Rohrer', 'UBT Chand')",NaN,False
90001,221990,598054,2013-05-10,T20,Indian Premier League,2,Delhi Daredevils,Royal Challengers Bangalore,7,4,...,62,46,3,NaN,18,13,0,"('BJ Rohrer', 'UBT Chand')",NaN,False
90002,221991,598054,2013-05-10,T20,Indian Premier League,2,Delhi Daredevils,Royal Challengers Bangalore,7,5,...,63,47,3,NaN,19,14,0,"('BJ Rohrer', 'UBT Chand')",NaN,False
90003,221992,598054,2013-05-10,T20,Indian Premier League,2,Delhi Daredevils,Royal Challengers Bangalore,7,6,...,64,48,3,NaN,3,5,0,"('BJ Rohrer', 'UBT Chand')",NaN,False
90004,221993,598054,2013-05-10,T20,Indian Premier League,2,Delhi Daredevils,Royal Challengers Bangalore,8,1,...,68,49,3,NaN,7,6,0,"('BJ Rohrer', 'UBT Chand')",NaN,False

Chunk 20:

,Unnamed: 0,match_id,date,match_type,event_name,innings,batting_team,bowling_team,over,ball,...,team_runs,team_balls,team_wicket,new_batter,batter_runs,batter_balls,bowler_wicket,batting_partners,next_batter,striker_out
95000,226970,729281,2014-04-17,T20,Indian Premier League,2,Royal Challengers Bangalore,Delhi Daredevils,12,5,...,88,77,2,NaN,24,27,0,"('V Kohli', 'Yuvraj Singh')",NaN,False
95001,226971,729281,2014-04-17,T20,Indian Premier League,2,Royal Challengers Bangalore,Delhi Daredevils,12,6,...,89,78,2,NaN,25,28,0,"('V Kohli', 'Yuvraj Singh')",NaN,False
95002,226972,729281,2014-04-17,T20,Indian Premier League,2,Royal Challengers Bangalore,Delhi Daredevils,13,1,...,95,79,2,NaN,31,29,0,"('V Kohli', 'Yuvraj Singh')",NaN,False
95003,226973,729281,2014-04-17,T20,Indian Premier League,2,Royal Challengers Bangalore,Delhi Daredevils,13,2,...,96,80,2,NaN,32,30,0,"('V Kohli', 'Yuvraj Singh')",NaN,False
95004,226974,729281,2014-04-17,T20,Indian Premier League,2,Royal Challengers Bangalore,Delhi Daredevils,13,3,...,97,81,2,NaN,21,17,0,"('V Kohli', 'Yuvraj Singh')",NaN,False

Chunk 21:

,Unnamed: 0,match_id,date,match_type,event_name,innings,batting_team,bowling_team,over,ball,...,team_runs,team_balls,team_wicket,new_batter,batter_runs,batter_balls,bowler_wicket,batting_partners,next_batter,striker_out
100000,231970,733977,2014-05-04,T20,Indian Premier League,1,Sunrisers Hyderabad,Royal Challengers Bangalore,0,4,...,3,4,0,NaN,2,3,0,"('AJ Finch', 'S Dhawan')",NaN,False
100001,231971,733977,2014-05-04,T20,Indian Premier League,1,Sunrisers Hyderabad,Royal Challengers Bangalore,0,5,...,3,5,0,NaN,1,2,0,"('AJ Finch', 'S Dhawan')",NaN,False
100002,231972,733977,2014-05-04,T20,Indian Premier League,1,Sunrisers Hyderabad,Royal Challengers Bangalore,0,6,...,3,6,0,NaN,1,3,0,"('AJ Finch', 'S Dhawan')",NaN,False
100003,231973,733977,2014-05-04,T20,Indian Premier League,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,...,4,7,0,NaN,3,4,0,"('AJ Finch', 'S Dhawan')",NaN,False
100004,231974,733977,2014-05-04,T20,Indian Premier League,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,...,4,8,0,NaN,1,4,0,"('AJ Finch', 'S Dhawan')",NaN,False

Chunk 22:

,Unnamed: 0,match_id,date,match_type,event_name,innings,batting_team,bowling_team,over,ball,...,team_runs,team_balls,team_wicket,new_batter,batter_runs,batter_balls,bowler_wicket,batting_partners,next_batter,striker_out
105000,236970,734017,2014-05-19,T20,Indian Premier League,2,Rajasthan Royals,Mumbai Indians,11,3,...,70,69,6,NaN,1,6,0,"('BJ Hodge', 'KK Nair')",NaN,False
105001,236971,734017,2014-05-19,T20,Indian Premier League,2,Rajasthan Royals,Mumbai Indians,11,4,...,71,70,6,NaN,2,7,0,"('BJ Hodge', 'KK Nair')",NaN,False
105002,236972,734017,2014-05-19,T20,Indian Premier League,2,Rajasthan Royals,Mumbai Indians,11,5,...,75,71,6,NaN,48,23,0,"('BJ Hodge', 'KK Nair')",NaN,False
105003,236973,734017,2014-05-19,T20,Indian Premier League,2,Rajasthan Royals,Mumbai Indians,11,6,...,75,72,7,NaN,48,24,1,"('BJ Hodge', 'KK Nair')",JP Faulkner,True
105004,236974,734017,2014-05-19,T20,Indian Premier League,2,Rajasthan Royals,Mumbai Indians,12,1,...,75,73,7,JP Faulkner,0,1,0,"('BJ Hodge', 'JP Faulkner')",NaN,False

Chunk 23:

,Unnamed: 0,match_id,date,match_type,event_name,innings,batting_team,bowling_team,over,ball,...,team_runs,team_balls,team_wicket,new_batter,batter_runs,batter_balls,bowler_wicket,batting_partners,next_batter,striker_out
110000,241970,829713,2015-04-11,T20,Indian Premier League,2,Royal Challengers Bangalore,Kolkata Knight Riders,6,2,...,41,38,1,NaN,1,4,0,"('CH Gayle', 'KD Karthik')",NaN,False
110001,241971,829713,2015-04-11,T20,Indian Premier League,2,Royal Challengers Bangalore,Kolkata Knight Riders,6,3,...,45,39,1,NaN,5,5,0,"('CH Gayle', 'KD Karthik')",NaN,False
110002,241972,829713,2015-04-11,T20,Indian Premier League,2,Royal Challengers Bangalore,Kolkata Knight Riders,6,4,...,45,40,1,NaN,5,6,0,"('CH Gayle', 'KD Karthik')",NaN,False
110003,241973,829713,2015-04-11,T20,Indian Premier League,2,Royal Challengers Bangalore,Kolkata Knight Riders,6,5,...,46,41,1,NaN,6,7,0,"('CH Gayle', 'KD Karthik')",NaN,False
110004,241974,829713,2015-04-11,T20,Indian Premier League,2,Royal Challengers Bangalore,Kolkata Knight Riders,6,6,...,47,42,1,NaN,24,20,0,"('CH Gayle', 'KD Karthik')",NaN,False

Chunk 24:

,Unnamed: 0,match_id,date,match_type,event_name,innings,batting_team,bowling_team,over,ball,...,team_runs,team_balls,team_wicket,new_batter,batter_runs,batter_balls,bowler_wicket,batting_partners,next_batter,striker_out
115000,247216,829759,2015-04-27,T20,Indian Premier League,2,Kings XI Punjab,Sunrisers Hyderabad,3,2,...,14,20,2,GJ Bailey,1,1,0,"('GJ Bailey', 'M Vijay')",NaN,False
115001,247217,829759,2015-04-27,T20,Indian Premier League,2,Kings XI Punjab,Sunrisers Hyderabad,3,3,...,15,21,2,NaN,5,7,0,"('GJ Bailey', 'M Vijay')",NaN,False
115002,247218,829759,2015-04-27,T20,Indian Premier League,2,Kings XI Punjab,Sunrisers Hyderabad,3,4,...,15,22,2,NaN,1,2,0,"('GJ Bailey', 'M Vijay')",NaN,False
115003,247219,829759,2015-04-27,T20,Indian Premier League,2,Kings XI Punjab,Sunrisers Hyderabad,3,5,...,16,23,2,NaN,2,3,0,"('GJ Bailey', 'M Vijay')",NaN,False
115004,247220,829759,2015-04-27,T20,Indian Premier League,2,Kings XI Punjab,Sunrisers Hyderabad,3,6,...,17,24,2,NaN,6,8,0,"('GJ Bailey', 'M Vijay')",NaN,False

Chunk 25:

,Unnamed: 0,match_id,date,match_type,event_name,innings,batting_team,bowling_team,over,ball,...,team_runs,team_balls,team_wicket,new_batter,batter_runs,batter_balls,bowler_wicket,batting_partners,next_batter,striker_out
120000,251970,829801,2015-05-12,T20,Indian Premier League,1,Chennai Super Kings,Delhi Daredevils,3,2,...,7,20,0,NaN,0,10,0,"('BB McCullum', 'DR Smith')",NaN,False
120001,251971,829801,2015-05-12,T20,Indian Premier League,1,Chennai Super Kings,Delhi Daredevils,3,3,...,7,21,0,NaN,0,11,0,"('BB McCullum', 'DR Smith')",NaN,False
120002,251972,829801,2015-05-12,T20,Indian Premier League,1,Chennai Super Kings,Delhi Daredevils,3,4,...,11,22,0,NaN,4,12,0,"('BB McCullum', 'DR Smith')",NaN,False
120003,251973,829801,2015-05-12,T20,Indian Premier League,1,Chennai Super Kings,Delhi Daredevils,3,5,...,11,23,0,NaN,4,13,0,"('BB McCullum', 'DR Smith')",NaN,False
120004,251974,829801,2015-05-12,T20,Indian Premier League,1,Chennai Super Kings,Delhi Daredevils,3,6,...,11,24,0,NaN,4,14,0,"('BB McCullum', 'DR Smith')",NaN,False

Chunk 26:

,Unnamed: 0,match_id,date,match_type,event_name,innings,batting_team,bowling_team,over,ball,...,team_runs,team_balls,team_wicket,new_batter,batter_runs,batter_balls,bowler_wicket,batting_partners,next_batter,striker_out
125000,256970,980921,2016-04-17,T20,Indian Premier League,2,Delhi Daredevils,Royal Challengers Bangalore,9,5,...,92,59,2,NaN,51,22,0,"('KK Nair', 'Q de Kock')",NaN,False
125001,256971,980921,2016-04-17,T20,Indian Premier League,2,Delhi Daredevils,Royal Challengers Bangalore,9,6,...,93,60,2,NaN,52,23,0,"('KK Nair', 'Q de Kock')",NaN,False
125002,256972,980921,2016-04-17,T20,Indian Premier League,2,Delhi Daredevils,Royal Challengers Bangalore,10,1,...,93,61,2,NaN,52,24,0,"('KK Nair', 'Q de Kock')",NaN,False
125003,256973,980921,2016-04-17,T20,Indian Premier League,2,Delhi Daredevils,Royal Challengers Bangalore,10,2,...,95,62,2,NaN,54,25,0,"('KK Nair', 'Q de Kock')",NaN,False
125004,256974,980921,2016-04-17,T20,Indian Premier League,2,Delhi Daredevils,Royal Challengers Bangalore,10,3,...,96,63,2,NaN,55,26,0,"('KK Nair', 'Q de Kock')",NaN,False

Chunk 27:

,Unnamed: 0,match_id,date,match_type,event_name,innings,batting_team,bowling_team,over,ball,...,team_runs,team_balls,team_wicket,new_batter,batter_runs,batter_balls,bowler_wicket,batting_partners,next_batter,striker_out
130000,261970,980963,2016-05-04,T20,Indian Premier League,2,Kings XI Punjab,Kolkata Knight Riders,8,1,...,48,49,3,NaN,12,14,0,"('GJ Maxwell', 'WP Saha')",NaN,False
130001,261971,980963,2016-05-04,T20,Indian Premier League,2,Kings XI Punjab,Kolkata Knight Riders,8,2,...,49,50,3,NaN,13,15,0,"('GJ Maxwell', 'WP Saha')",NaN,False
130002,261972,980963,2016-05-04,T20,Indian Premier League,2,Kings XI Punjab,Kolkata Knight Riders,8,3,...,53,51,3,NaN,24,17,0,"('GJ Maxwell', 'WP Saha')",NaN,False
130003,261973,980963,2016-05-04,T20,Indian Premier League,2,Kings XI Punjab,Kolkata Knight Riders,8,4,...,53,52,3,NaN,24,18,0,"('GJ Maxwell', 'WP Saha')",NaN,False
130004,261974,980963,2016-05-04,T20,Indian Premier League,2,Kings XI Punjab,Kolkata Knight Riders,8,5,...,53,53,3,NaN,24,19,0,"('GJ Maxwell', 'WP Saha')",NaN,False

Chunk 28:

,Unnamed: 0,match_id,date,match_type,event_name,innings,batting_team,bowling_team,over,ball,...,team_runs,team_balls,team_wicket,new_batter,batter_runs,batter_balls,bowler_wicket,batting_partners,next_batter,striker_out
135000,266970,981007,2016-05-21,T20,Indian Premier League,1,Mumbai Indians,Gujarat Lions,15,5,...,144,95,4,NaN,65,32,0,"('KA Pollard', 'N Rana')",NaN,False
135001,266971,981007,2016-05-21,T20,Indian Premier League,1,Mumbai Indians,Gujarat Lions,15,6,...,145,96,4,NaN,3,5,0,"('KA Pollard', 'N Rana')",NaN,False
135002,266972,981007,2016-05-21,T20,Indian Premier League,1,Mumbai Indians,Gujarat Lions,16,1,...,146,97,4,NaN,3,6,0,"('KA Pollard', 'N Rana')",NaN,False
135003,266973,981007,2016-05-21,T20,Indian Premier League,1,Mumbai Indians,Gujarat Lions,16,2,...,147,97,4,NaN,65,32,0,"('KA Pollard', 'N Rana')",NaN,False
135004,266974,981007,2016-05-21,T20,Indian Premier League,1,Mumbai Indians,Gujarat Lions,16,2,...,147,98,4,NaN,65,33,0,"('KA Pollard', 'N Rana')",NaN,False

Chunk 29:

,Unnamed: 0,match_id,date,match_type,event_name,innings,batting_team,bowling_team,over,ball,...,team_runs,team_balls,team_wicket,new_batter,batter_runs,batter_balls,bowler_wicket,batting_partners,next_batter,striker_out
140000,3402,1082605,2017-04-15,T20,Indian Premier League,1,Delhi Daredevils,Kings XI Punjab,13,3,...,109,81,4,NaN,6,4,0,"('CJ Anderson', 'RR Pant')",NaN,False
140001,3403,1082605,2017-04-15,T20,Indian Premier League,1,Delhi Daredevils,Kings XI Punjab,13,4,...,109,82,4,NaN,1,2,0,"('CJ Anderson', 'RR Pant')",NaN,False
140002,3404,1082605,2017-04-15,T20,Indian Premier League,1,Delhi Daredevils,Kings XI Punjab,13,5,...,109,83,4,NaN,1,3,0,"('CJ Anderson', 'RR Pant')",NaN,False
140003,3405,1082605,2017-04-15,T20,Indian Premier League,1,Delhi Daredevils,Kings XI Punjab,13,6,...,110,84,4,NaN,2,4,0,"('CJ Anderson', 'RR Pant')",NaN,False
140004,3406,1082605,2017-04-15,T20,Indian Premier League,1,Delhi Daredevils,Kings XI Punjab,14,1,...,110,85,4,NaN,2,5,0,"('CJ Anderson', 'RR Pant')",NaN,False

Chunk 30:

,Unnamed: 0,match_id,date,match_type,event_name,innings,batting_team,bowling_team,over,ball,...,team_runs,team_balls,team_wicket,new_batter,batter_runs,batter_balls,bowler_wicket,batting_partners,next_batter,striker_out
145000,8402,1082627,2017-04-30,T20,Indian Premier League,2,Kolkata Knight Riders,Sunrisers Hyderabad,2,4,...,12,16,2,MK Pandey,0,1,0,"('MK Pandey', 'RV Uthappa')",NaN,False
145001,8403,1082627,2017-04-30,T20,Indian Premier League,2,Kolkata Knight Riders,Sunrisers Hyderabad,2,5,...,12,17,2,NaN,0,2,0,"('MK Pandey', 'RV Uthappa')",NaN,False
145002,8404,1082627,2017-04-30,T20,Indian Premier League,2,Kolkata Knight Riders,Sunrisers Hyderabad,2,6,...,16,18,2,NaN,4,3,0,"('MK Pandey', 'RV Uthappa')",NaN,False
145003,8405,1082627,2017-04-30,T20,Indian Premier League,2,Kolkata Knight Riders,Sunrisers Hyderabad,3,1,...,16,19,2,NaN,0,1,0,"('MK Pandey', 'RV Uthappa')",NaN,False
145004,8406,1082627,2017-04-30,T20,Indian Premier League,2,Kolkata Knight Riders,Sunrisers Hyderabad,3,2,...,17,20,2,NaN,1,2,0,"('MK Pandey', 'RV Uthappa')",NaN,False

Chunk 31:

,Unnamed: 0,match_id,date,match_type,event_name,innings,batting_team,bowling_team,over,ball,...,team_runs,team_balls,team_wicket,new_batter,batter_runs,batter_balls,bowler_wicket,batting_partners,next_batter,striker_out
150000,13402,1082648,2017-05-17,T20,Indian Premier League,2,Kolkata Knight Riders,Sunrisers Hyderabad,4,4,...,45,28,3,NaN,4,6,0,"('G Gambhir', 'IR Jaggi')",NaN,False
150001,13403,1082648,2017-05-17,T20,Indian Premier League,2,Kolkata Knight Riders,Sunrisers Hyderabad,4,5,...,46,29,3,NaN,31,18,0,"('G Gambhir', 'IR Jaggi')",NaN,False
150002,13404,1082648,2017-05-17,T20,Indian Premier League,2,Kolkata Knight Riders,Sunrisers Hyderabad,4,6,...,46,30,3,NaN,4,7,0,"('G Gambhir', 'IR Jaggi')",NaN,False
150003,13405,1082648,2017-05-17,T20,Indian Premier League,2,Kolkata Knight Riders,Sunrisers Hyderabad,5,1,...,47,31,3,NaN,32,19,0,"('G Gambhir', 'IR Jaggi')",NaN,False
150004,13406,1082648,2017-05-17,T20,Indian Premier League,2,Kolkata Knight Riders,Sunrisers Hyderabad,5,2,...,48,32,3,NaN,5,8,0,"('G Gambhir', 'IR Jaggi')",NaN,False

Chunk 32:

,Unnamed: 0,match_id,date,match_type,event_name,innings,batting_team,bowling_team,over,ball,...,team_runs,team_balls,team_wicket,new_batter,batter_runs,batter_balls,bowler_wicket,batting_partners,next_batter,striker_out
155000,18402,1136580,2018-04-22,T20,Indian Premier League,1,Chennai Super Kings,Sunrisers Hyderabad,14,5,...,119,89,2,NaN,60,29,0,"('AT Rayudu', 'SK Raina')",NaN,False
155001,18403,1136580,2018-04-22,T20,Indian Premier League,1,Chennai Super Kings,Sunrisers Hyderabad,14,6,...,120,90,2,NaN,61,30,0,"('AT Rayudu', 'SK Raina')",NaN,False
155002,18404,1136580,2018-04-22,T20,Indian Premier League,1,Chennai Super Kings,Sunrisers Hyderabad,15,1,...,121,91,2,NaN,62,31,0,"('AT Rayudu', 'SK Raina')",NaN,False
155003,18405,1136580,2018-04-22,T20,Indian Premier League,1,Chennai Super Kings,Sunrisers Hyderabad,15,2,...,122,92,2,NaN,36,33,0,"('AT Rayudu', 'SK Raina')",NaN,False
155004,18406,1136580,2018-04-22,T20,Indian Premier League,1,Chennai Super Kings,Sunrisers Hyderabad,15,3,...,126,93,2,NaN,66,32,0,"('AT Rayudu', 'SK Raina')",NaN,False

Chunk 33:

,Unnamed: 0,match_id,date,match_type,event_name,innings,batting_team,bowling_team,over,ball,...,team_runs,team_balls,team_wicket,new_batter,batter_runs,batter_balls,bowler_wicket,batting_partners,next_batter,striker_out
160000,23402,1136601,2018-05-09,T20,Indian Premier League,1,Mumbai Indians,Kolkata Knight Riders,5,1,...,41,31,0,NaN,23,19,0,"('E Lewis', 'SA Yadav')",NaN,False
160001,23403,1136601,2018-05-09,T20,Indian Premier League,1,Mumbai Indians,Kolkata Knight Riders,5,2,...,45,32,0,NaN,27,20,0,"('E Lewis', 'SA Yadav')",NaN,False
160002,23404,1136601,2018-05-09,T20,Indian Premier League,1,Mumbai Indians,Kolkata Knight Riders,5,3,...,46,33,0,NaN,28,21,0,"('E Lewis', 'SA Yadav')",NaN,False
160003,23405,1136601,2018-05-09,T20,Indian Premier League,1,Mumbai Indians,Kolkata Knight Riders,5,4,...,46,34,1,NaN,18,13,1,"('E Lewis', 'SA Yadav')",RG Sharma,True
160004,23406,1136601,2018-05-09,T20,Indian Premier League,1,Mumbai Indians,Kolkata Knight Riders,5,5,...,47,35,1,RG Sharma,1,1,0,"('RG Sharma', 'SA Yadav')",NaN,False

Chunk 34:

,Unnamed: 0,match_id,date,match_type,event_name,innings,batting_team,bowling_team,over,ball,...,team_runs,team_balls,team_wicket,new_batter,batter_runs,batter_balls,bowler_wicket,batting_partners,next_batter,striker_out
165000,28402,1175357,2019-03-24,T20,Indian Premier League,1,Sunrisers Hyderabad,Kolkata Knight Riders,6,2,...,59,38,0,NaN,38,22,0,"('DA Warner', 'JM Bairstow')",NaN,False
165001,28403,1175357,2019-03-24,T20,Indian Premier League,1,Sunrisers Hyderabad,Kolkata Knight Riders,6,3,...,59,39,0,NaN,38,23,0,"('DA Warner', 'JM Bairstow')",NaN,False
165002,28404,1175357,2019-03-24,T20,Indian Premier League,1,Sunrisers Hyderabad,Kolkata Knight Riders,6,4,...,60,40,0,NaN,39,24,0,"('DA Warner', 'JM Bairstow')",NaN,False
165003,28405,1175357,2019-03-24,T20,Indian Premier League,1,Sunrisers Hyderabad,Kolkata Knight Riders,6,5,...,61,41,0,NaN,18,18,0,"('DA Warner', 'JM Bairstow')",NaN,False
165004,28406,1175357,2019-03-24,T20,Indian Premier League,1,Sunrisers Hyderabad,Kolkata Knight Riders,6,6,...,62,42,0,NaN,40,25,0,"('DA Warner', 'JM Bairstow')",NaN,False

Chunk 35:

,Unnamed: 0,match_id,date,match_type,event_name,innings,batting_team,bowling_team,over,ball,...,team_runs,team_balls,team_wicket,new_batter,batter_runs,batter_balls,bowler_wicket,batting_partners,next_batter,striker_out
170000,33402,1178397,2019-04-08,T20,Indian Premier League,2,Kings XI Punjab,Sunrisers Hyderabad,5,1,...,30,31,1,NaN,6,6,0,"('KL Rahul', 'MA Agarwal')",NaN,False
170001,33403,1178397,2019-04-08,T20,Indian Premier League,2,Kings XI Punjab,Sunrisers Hyderabad,5,2,...,30,32,1,NaN,6,7,0,"('KL Rahul', 'MA Agarwal')",NaN,False
170002,33404,1178397,2019-04-08,T20,Indian Premier League,2,Kings XI Punjab,Sunrisers Hyderabad,5,3,...,31,33,1,NaN,7,8,0,"('KL Rahul', 'MA Agarwal')",NaN,False
170003,33405,1178397,2019-04-08,T20,Indian Premier League,2,Kings XI Punjab,Sunrisers Hyderabad,5,4,...,32,34,1,NaN,9,12,0,"('KL Rahul', 'MA Agarwal')",NaN,False
170004,33406,1178397,2019-04-08,T20,Indian Premier League,2,Kings XI Punjab,Sunrisers Hyderabad,5,5,...,38,35,1,NaN,13,9,0,"('KL Rahul', 'MA Agarwal')",NaN,False

Chunk 36:

,Unnamed: 0,match_id,date,match_type,event_name,innings,batting_team,bowling_team,over,ball,...,team_runs,team_balls,team_wicket,new_batter,batter_runs,batter_balls,bowler_wicket,batting_partners,next_batter,striker_out
175000,38402,1178418,2019-04-25,T20,Indian Premier League,1,Kolkata Knight Riders,Rajasthan Royals,12,2,...,83,74,4,NaN,1,1,0,"('AD Russell', 'KD Karthik')",NaN,False
175001,38403,1178418,2019-04-25,T20,Indian Premier League,1,Kolkata Knight Riders,Rajasthan Royals,12,3,...,84,75,4,NaN,30,23,0,"('AD Russell', 'KD Karthik')",NaN,False
175002,38404,1178418,2019-04-25,T20,Indian Premier League,1,Kolkata Knight Riders,Rajasthan Royals,12,4,...,84,76,4,NaN,1,2,0,"('AD Russell', 'KD Karthik')",NaN,False
175003,38405,1178418,2019-04-25,T20,Indian Premier League,1,Kolkata Knight Riders,Rajasthan Royals,12,5,...,85,77,4,NaN,2,3,0,"('AD Russell', 'KD Karthik')",NaN,False
175004,38406,1178418,2019-04-25,T20,Indian Premier League,1,Kolkata Knight Riders,Rajasthan Royals,12,6,...,86,78,4,NaN,31,24,0,"('AD Russell', 'KD Karthik')",NaN,False

Chunk 37:

,Unnamed: 0,match_id,date,match_type,event_name,innings,batting_team,bowling_team,over,ball,...,team_runs,team_balls,team_wicket,new_batter,batter_runs,batter_balls,bowler_wicket,batting_partners,next_batter,striker_out
180000,43588,1216496,2020-09-22,T20,Indian Premier League,2,Chennai Super Kings,Rajasthan Royals,11,2,...,94,68,4,NaN,12,8,0,"('F du Plessis', 'KM Jadhav')",NaN,False
180001,43589,1216496,2020-09-22,T20,Indian Premier League,2,Chennai Super Kings,Rajasthan Royals,11,3,...,98,69,4,NaN,16,9,0,"('F du Plessis', 'KM Jadhav')",NaN,False
180002,43590,1216496,2020-09-22,T20,Indian Premier League,2,Chennai Super Kings,Rajasthan Royals,11,4,...,99,70,4,NaN,17,10,0,"('F du Plessis', 'KM Jadhav')",NaN,False
180003,43591,1216496,2020-09-22,T20,Indian Premier League,2,Chennai Super Kings,Rajasthan Royals,11,5,...,100,71,4,NaN,10,12,0,"('F du Plessis', 'KM Jadhav')",NaN,False
180004,43592,1216496,2020-09-22,T20,Indian Premier League,2,Chennai Super Kings,Rajasthan Royals,11,6,...,101,72,4,NaN,18,11,0,"('F du Plessis', 'KM Jadhav')",NaN,False

Chunk 38:

,Unnamed: 0,match_id,date,match_type,event_name,innings,batting_team,bowling_team,over,ball,...,team_runs,team_balls,team_wicket,new_batter,batter_runs,batter_balls,bowler_wicket,batting_partners,next_batter,striker_out
185000,50487,1216525,2020-10-10,T20,Indian Premier League,1,Royal Challengers Bangalore,Chennai Super Kings,4,3,...,23,27,1,NaN,5,5,0,"('D Padikkal', 'V Kohli')",NaN,False
185001,50488,1216525,2020-10-10,T20,Indian Premier League,1,Royal Challengers Bangalore,Chennai Super Kings,4,4,...,23,28,1,NaN,5,6,0,"('D Padikkal', 'V Kohli')",NaN,False
185002,50489,1216525,2020-10-10,T20,Indian Premier League,1,Royal Challengers Bangalore,Chennai Super Kings,4,5,...,24,29,1,NaN,6,7,0,"('D Padikkal', 'V Kohli')",NaN,False
185003,50490,1216525,2020-10-10,T20,Indian Premier League,1,Royal Challengers Bangalore,Chennai Super Kings,4,6,...,25,30,1,NaN,13,14,0,"('D Padikkal', 'V Kohli')",NaN,False
185004,50491,1216525,2020-10-10,T20,Indian Premier League,1,Royal Challengers Bangalore,Chennai Super Kings,5,1,...,29,31,1,NaN,17,15,0,"('D Padikkal', 'V Kohli')",NaN,False

Chunk 39:

,Unnamed: 0,match_id,date,match_type,event_name,innings,batting_team,bowling_team,over,ball,...,team_runs,team_balls,team_wicket,new_batter,batter_runs,batter_balls,bowler_wicket,batting_partners,next_batter,striker_out
190000,55243,1216544,2020-10-25,T20,Indian Premier League,2,Chennai Super Kings,Royal Challengers Bangalore,9,1,...,71,55,1,NaN,9,10,0,"('AT Rayudu', 'RD Gaikwad')",NaN,False
190001,55244,1216544,2020-10-25,T20,Indian Premier League,2,Chennai Super Kings,Royal Challengers Bangalore,9,2,...,71,56,1,NaN,9,11,0,"('AT Rayudu', 'RD Gaikwad')",NaN,False
190002,55245,1216544,2020-10-25,T20,Indian Premier League,2,Chennai Super Kings,Royal Challengers Bangalore,9,3,...,77,57,1,NaN,15,12,0,"('AT Rayudu', 'RD Gaikwad')",NaN,False
190003,55246,1216544,2020-10-25,T20,Indian Premier League,2,Chennai Super Kings,Royal Challengers Bangalore,9,4,...,77,58,1,NaN,15,13,0,"('AT Rayudu', 'RD Gaikwad')",NaN,False
190004,55247,1216544,2020-10-25,T20,Indian Premier League,2,Chennai Super Kings,Royal Challengers Bangalore,9,5,...,81,59,1,NaN,19,14,0,"('AT Rayudu', 'RD Gaikwad')",NaN,False

Chunk 40:

,Unnamed: 0,match_id,date,match_type,event_name,innings,batting_team,bowling_team,over,ball,...,team_runs,team_balls,team_wicket,new_batter,batter_runs,batter_balls,bowler_wicket,batting_partners,next_batter,striker_out
195000,58402,1254063,2021-04-14,T20,Indian Premier League,2,Sunrisers Hyderabad,Royal Challengers Bangalore,3,2,...,21,20,1,NaN,7,6,0,"('DA Warner', 'MK Pandey')",NaN,False
195001,58403,1254063,2021-04-14,T20,Indian Premier League,2,Sunrisers Hyderabad,Royal Challengers Bangalore,3,3,...,22,21,1,NaN,8,7,0,"('DA Warner', 'MK Pandey')",NaN,False
195002,58404,1254063,2021-04-14,T20,Indian Premier League,2,Sunrisers Hyderabad,Royal Challengers Bangalore,3,4,...,26,22,1,NaN,11,6,0,"('DA Warner', 'MK Pandey')",NaN,False
195003,58405,1254063,2021-04-14,T20,Indian Premier League,2,Sunrisers Hyderabad,Royal Challengers Bangalore,3,5,...,26,23,1,NaN,11,7,0,"('DA Warner', 'MK Pandey')",NaN,False
195004,58406,1254063,2021-04-14,T20,Indian Premier League,2,Sunrisers Hyderabad,Royal Challengers Bangalore,3,6,...,32,24,1,NaN,17,8,0,"('DA Warner', 'MK Pandey')",NaN,False

Chunk 41:

,Unnamed: 0,match_id,date,match_type,event_name,innings,batting_team,bowling_team,over,ball,...,team_runs,team_balls,team_wicket,new_batter,batter_runs,batter_balls,bowler_wicket,batting_partners,next_batter,striker_out
200000,63402,1254084,2021-05-01,T20,Indian Premier League,1,Chennai Super Kings,Mumbai Indians,13,1,...,119,79,4,NaN,2,2,0,"('AT Rayudu', 'RA Jadeja')",NaN,False
200001,63403,1254084,2021-05-01,T20,Indian Premier League,1,Chennai Super Kings,Mumbai Indians,13,2,...,119,80,4,NaN,1,6,0,"('AT Rayudu', 'RA Jadeja')",NaN,False
200002,63404,1254084,2021-05-01,T20,Indian Premier League,1,Chennai Super Kings,Mumbai Indians,13,3,...,120,80,4,NaN,1,6,0,"('AT Rayudu', 'RA Jadeja')",NaN,False
200003,63405,1254084,2021-05-01,T20,Indian Premier League,1,Chennai Super Kings,Mumbai Indians,13,3,...,121,81,4,NaN,2,7,0,"('AT Rayudu', 'RA Jadeja')",NaN,False
200004,63406,1254084,2021-05-01,T20,Indian Premier League,1,Chennai Super Kings,Mumbai Indians,13,4,...,125,82,4,NaN,6,3,0,"('AT Rayudu', 'RA Jadeja')",NaN,False

Chunk 42:

,Unnamed: 0,match_id,date,match_type,event_name,innings,batting_team,bowling_team,over,ball,...,team_runs,team_balls,team_wicket,new_batter,batter_runs,batter_balls,bowler_wicket,batting_partners,next_batter,striker_out
205000,64785,1254090,2021-10-03,T20,Indian Premier League,1,Royal Challengers Bangalore,Punjab Kings,8,1,...,61,49,0,NaN,37,31,0,"('D Padikkal', 'V Kohli')",NaN,False
205001,64786,1254090,2021-10-03,T20,Indian Premier League,1,Royal Challengers Bangalore,Punjab Kings,8,2,...,61,50,0,NaN,19,19,0,"('D Padikkal', 'V Kohli')",NaN,False
205002,64787,1254090,2021-10-03,T20,Indian Premier League,1,Royal Challengers Bangalore,Punjab Kings,8,3,...,61,51,0,NaN,19,20,0,"('D Padikkal', 'V Kohli')",NaN,False
205003,64788,1254090,2021-10-03,T20,Indian Premier League,1,Royal Challengers Bangalore,Punjab Kings,8,4,...,61,52,0,NaN,19,21,0,"('D Padikkal', 'V Kohli')",NaN,False
205004,64789,1254090,2021-10-03,T20,Indian Premier League,1,Royal Challengers Bangalore,Punjab Kings,8,5,...,67,53,0,NaN,25,22,0,"('D Padikkal', 'V Kohli')",NaN,False

Chunk 43:

,Unnamed: 0,match_id,date,match_type,event_name,innings,batting_team,bowling_team,over,ball,...,team_runs,team_balls,team_wicket,new_batter,batter_runs,batter_balls,bowler_wicket,batting_partners,next_batter,striker_out
210000,73402,1304055,2022-04-02,T20,Indian Premier League,1,Rajasthan Royals,Mumbai Indians,5,2,...,47,32,1,NaN,39,24,0,"('D Padikkal', 'JC Buttler')",NaN,False
210001,73403,1304055,2022-04-02,T20,Indian Premier League,1,Rajasthan Royals,Mumbai Indians,5,3,...,47,33,1,NaN,39,25,0,"('D Padikkal', 'JC Buttler')",NaN,False
210002,73404,1304055,2022-04-02,T20,Indian Premier League,1,Rajasthan Royals,Mumbai Indians,5,4,...,47,34,1,NaN,39,26,0,"('D Padikkal', 'JC Buttler')",NaN,False
210003,73405,1304055,2022-04-02,T20,Indian Premier League,1,Rajasthan Royals,Mumbai Indians,5,5,...,48,35,1,NaN,40,27,0,"('D Padikkal', 'JC Buttler')",NaN,False
210004,73406,1304055,2022-04-02,T20,Indian Premier League,1,Rajasthan Royals,Mumbai Indians,5,6,...,48,36,2,NaN,7,7,1,"('D Padikkal', 'JC Buttler')",SV Samson,True

Chunk 44:

,Unnamed: 0,match_id,date,match_type,event_name,innings,batting_team,bowling_team,over,ball,...,team_runs,team_balls,team_wicket,new_batter,batter_runs,batter_balls,bowler_wicket,batting_partners,next_batter,striker_out
215000,78402,1304075,2022-04-17,T20,Indian Premier League,2,Gujarat Titans,Chennai Super Kings,1,6,...,5,12,2,NaN,2,2,0,"('A Manohar', 'WP Saha')",NaN,False
215001,78403,1304075,2022-04-17,T20,Indian Premier League,2,Gujarat Titans,Chennai Super Kings,2,1,...,9,13,2,NaN,6,3,0,"('A Manohar', 'WP Saha')",NaN,False
215002,78404,1304075,2022-04-17,T20,Indian Premier League,2,Gujarat Titans,Chennai Super Kings,2,2,...,9,14,2,NaN,6,4,0,"('A Manohar', 'WP Saha')",NaN,False
215003,78405,1304075,2022-04-17,T20,Indian Premier League,2,Gujarat Titans,Chennai Super Kings,2,3,...,9,15,2,NaN,6,5,0,"('A Manohar', 'WP Saha')",NaN,False
215004,78406,1304075,2022-04-17,T20,Indian Premier League,2,Gujarat Titans,Chennai Super Kings,2,4,...,13,16,2,NaN,10,6,0,"('A Manohar', 'WP Saha')",NaN,False

Chunk 45:

,Unnamed: 0,match_id,date,match_type,event_name,innings,batting_team,bowling_team,over,ball,...,team_runs,team_balls,team_wicket,new_batter,batter_runs,batter_balls,bowler_wicket,batting_partners,next_batter,striker_out
220000,83402,1304096,2022-05-05,T20,Indian Premier League,1,Delhi Capitals,Sunrisers Hyderabad,9,1,...,85,55,3,R Powell,42,28,0,"('DA Warner', 'R Powell')",NaN,False
220001,83403,1304096,2022-05-05,T20,Indian Premier League,1,Delhi Capitals,Sunrisers Hyderabad,9,2,...,85,56,3,NaN,42,29,0,"('DA Warner', 'R Powell')",NaN,False
220002,83404,1304096,2022-05-05,T20,Indian Premier League,1,Delhi Capitals,Sunrisers Hyderabad,9,3,...,89,57,3,NaN,46,30,0,"('DA Warner', 'R Powell')",NaN,False
220003,83405,1304096,2022-05-05,T20,Indian Premier League,1,Delhi Capitals,Sunrisers Hyderabad,9,4,...,90,58,3,NaN,47,31,0,"('DA Warner', 'R Powell')",NaN,False
220004,83406,1304096,2022-05-05,T20,Indian Premier League,1,Delhi Capitals,Sunrisers Hyderabad,9,5,...,90,59,3,NaN,0,1,0,"('DA Warner', 'R Powell')",NaN,False

Chunk 46:

,Unnamed: 0,match_id,date,match_type,event_name,innings,batting_team,bowling_team,over,ball,...,team_runs,team_balls,team_wicket,new_batter,batter_runs,batter_balls,bowler_wicket,batting_partners,next_batter,striker_out
225000,88402,1312197,2022-05-24,T20,Indian Premier League,1,Rajasthan Royals,Gujarat Titans,3,5,...,28,23,1,NaN,10,5,0,"('JC Buttler', 'SV Samson')",NaN,False
225001,88403,1312197,2022-05-24,T20,Indian Premier League,1,Rajasthan Royals,Gujarat Titans,3,6,...,28,24,1,NaN,10,6,0,"('JC Buttler', 'SV Samson')",NaN,False
225002,88404,1312197,2022-05-24,T20,Indian Premier League,1,Rajasthan Royals,Gujarat Titans,4,1,...,33,24,1,NaN,14,10,0,"('JC Buttler', 'SV Samson')",NaN,False
225003,88405,1312197,2022-05-24,T20,Indian Premier League,1,Rajasthan Royals,Gujarat Titans,4,1,...,33,25,1,NaN,14,11,0,"('JC Buttler', 'SV Samson')",NaN,False
225004,88406,1312197,2022-05-24,T20,Indian Premier League,1,Rajasthan Royals,Gujarat Titans,4,2,...,33,26,1,NaN,14,12,0,"('JC Buttler', 'SV Samson')",NaN,False

Chunk 47:

,Unnamed: 0,match_id,date,match_type,event_name,innings,batting_team,bowling_team,over,ball,...,team_runs,team_balls,team_wicket,new_batter,batter_runs,batter_balls,bowler_wicket,batting_partners,next_batter,striker_out
230000,93402,1359491,2023-04-12,T20,Indian Premier League,2,Chennai Super Kings,Rajasthan Royals,7,4,...,59,46,1,NaN,29,23,0,"('AM Rahane', 'DP Conway')",NaN,False
230001,93403,1359491,2023-04-12,T20,Indian Premier League,2,Chennai Super Kings,Rajasthan Royals,7,5,...,60,47,1,NaN,22,14,0,"('AM Rahane', 'DP Conway')",NaN,False
230002,93404,1359491,2023-04-12,T20,Indian Premier League,2,Chennai Super Kings,Rajasthan Royals,7,6,...,61,48,1,NaN,30,24,0,"('AM Rahane', 'DP Conway')",NaN,False
230003,93405,1359491,2023-04-12,T20,Indian Premier League,2,Chennai Super Kings,Rajasthan Royals,8,1,...,63,49,1,NaN,32,25,0,"('AM Rahane', 'DP Conway')",NaN,False
230004,93406,1359491,2023-04-12,T20,Indian Premier League,2,Chennai Super Kings,Rajasthan Royals,8,2,...,64,50,1,NaN,33,26,0,"('AM Rahane', 'DP Conway')",NaN,False

Chunk 48:

,Unnamed: 0,match_id,date,match_type,event_name,innings,batting_team,bowling_team,over,ball,...,team_runs,team_balls,team_wicket,new_batter,batter_runs,batter_balls,bowler_wicket,batting_partners,next_batter,striker_out
235000,98402,1359511,2023-04-27,T20,Indian Premier League,2,Chennai Super Kings,Rajasthan Royals,19,3,...,168,117,5,NaN,22,14,0,"('RA Jadeja', 'S Dube')",NaN,False
235001,98403,1359511,2023-04-27,T20,Indian Premier League,2,Chennai Super Kings,Rajasthan Royals,19,4,...,169,118,5,NaN,52,32,0,"('RA Jadeja', 'S Dube')",NaN,False
235002,98404,1359511,2023-04-27,T20,Indian Premier League,2,Chennai Super Kings,Rajasthan Royals,19,5,...,170,119,5,NaN,23,15,0,"('RA Jadeja', 'S Dube')",NaN,False
235003,98405,1359511,2023-04-27,T20,Indian Premier League,2,Chennai Super Kings,Rajasthan Royals,19,6,...,170,120,6,NaN,52,33,1,"('RA Jadeja', 'S Dube')",NaN,True
235004,98406,1359512,2023-04-28,T20,Indian Premier League,1,Lucknow Super Giants,Punjab Kings,0,1,...,1,1,0,NaN,1,1,0,"('KL Rahul', 'KR Mayers')",NaN,False

Chunk 49:

,Unnamed: 0,match_id,date,match_type,event_name,innings,batting_team,bowling_team,over,ball,...,team_runs,team_balls,team_wicket,new_batter,batter_runs,batter_balls,bowler_wicket,batting_partners,next_batter,striker_out
240000,103402,1359533,2023-05-13,T20,Indian Premier League,1,Punjab Kings,Delhi Capitals,8,3,...,59,51,3,NaN,9,10,0,"('P Simran Singh', 'SM Curran')",NaN,False
240001,103403,1359533,2023-05-13,T20,Indian Premier League,1,Punjab Kings,Delhi Capitals,8,4,...,60,52,3,NaN,10,11,0,"('P Simran Singh', 'SM Curran')",NaN,False
240002,103404,1359533,2023-05-13,T20,Indian Premier League,1,Punjab Kings,Delhi Capitals,8,5,...,61,53,3,NaN,26,27,0,"('P Simran Singh', 'SM Curran')",NaN,False
240003,103405,1359533,2023-05-13,T20,Indian Premier League,1,Punjab Kings,Delhi Capitals,8,6,...,61,54,3,NaN,10,12,0,"('P Simran Singh', 'SM Curran')",NaN,False
240004,103406,1359533,2023-05-13,T20,Indian Premier League,1,Punjab Kings,Delhi Capitals,9,1,...,62,54,3,NaN,26,27,0,"('P Simran Singh', 'SM Curran')",NaN,False

Chunk 50:

,Unnamed: 0,match_id,date,match_type,event_name,innings,batting_team,bowling_team,over,ball,...,team_runs,team_balls,team_wicket,new_batter,batter_runs,batter_balls,bowler_wicket,batting_partners,next_batter,striker_out
245000,108402,1422123,2024-03-24,T20,Indian Premier League,2,Mumbai Indians,Gujarat Titans,10,2,...,89,62,2,NaN,40,25,0,"('D Brevis', 'RG Sharma')",NaN,False
245001,108403,1422123,2024-03-24,T20,Indian Premier League,2,Mumbai Indians,Gujarat Titans,10,3,...,90,63,2,NaN,41,26,0,"('D Brevis', 'RG Sharma')",NaN,False
245002,108404,1422123,2024-03-24,T20,Indian Premier League,2,Mumbai Indians,Gujarat Titans,10,4,...,90,64,2,NaN,27,24,0,"('D Brevis', 'RG Sharma')",NaN,False
245003,108405,1422123,2024-03-24,T20,Indian Premier League,2,Mumbai Indians,Gujarat Titans,10,5,...,96,65,2,NaN,33,25,0,"('D Brevis', 'RG Sharma')",NaN,False
245004,108406,1422123,2024-03-24,T20,Indian Premier League,2,Mumbai Indians,Gujarat Titans,10,6,...,97,66,2,NaN,34,26,0,"('D Brevis', 'RG Sharma')",NaN,False

Chunk 51:

,Unnamed: 0,match_id,date,match_type,event_name,innings,batting_team,bowling_team,over,ball,...,team_runs,team_balls,team_wicket,new_batter,batter_runs,batter_balls,bowler_wicket,batting_partners,next_batter,striker_out
250000,113402,1426264,2024-04-12,T20,Indian Premier League,1,Lucknow Super Giants,Delhi Capitals,10,2,...,81,62,5,NaN,6,8,0,"('A Badoni', 'DJ Hooda')",NaN,False
250001,113403,1426264,2024-04-12,T20,Indian Premier League,1,Lucknow Super Giants,Delhi Capitals,10,3,...,82,63,5,NaN,7,9,0,"('A Badoni', 'DJ Hooda')",NaN,False
250002,113404,1426264,2024-04-12,T20,Indian Premier League,1,Lucknow Super Giants,Delhi Capitals,10,4,...,83,64,5,NaN,3,3,0,"('A Badoni', 'DJ Hooda')",NaN,False
250003,113405,1426264,2024-04-12,T20,Indian Premier League,1,Lucknow Super Giants,Delhi Capitals,10,5,...,84,65,5,NaN,8,10,0,"('A Badoni', 'DJ Hooda')",NaN,False
250004,113406,1426264,2024-04-12,T20,Indian Premier League,1,Lucknow Super Giants,Delhi Capitals,10,6,...,84,66,5,NaN,3,4,0,"('A Badoni', 'DJ Hooda')",NaN,False

Chunk 52:

,Unnamed: 0,match_id,date,match_type,event_name,innings,batting_team,bowling_team,over,ball,...,team_runs,team_balls,team_wicket,new_batter,batter_runs,batter_balls,bowler_wicket,batting_partners,next_batter,striker_out
255000,118402,1426284,2024-04-28,T20,Indian Premier League,2,Sunrisers Hyderabad,Chennai Super Kings,12,3,...,100,75,5,NaN,8,6,0,"('Abdul Samad', 'H Klaasen')",NaN,False
255001,118403,1426284,2024-04-28,T20,Indian Premier League,2,Sunrisers Hyderabad,Chennai Super Kings,12,4,...,101,76,5,NaN,15,13,0,"('Abdul Samad', 'H Klaasen')",NaN,False
255002,118404,1426284,2024-04-28,T20,Indian Premier League,2,Sunrisers Hyderabad,Chennai Super Kings,12,5,...,101,77,5,NaN,8,7,0,"('Abdul Samad', 'H Klaasen')",NaN,False
255003,118405,1426284,2024-04-28,T20,Indian Premier League,2,Sunrisers Hyderabad,Chennai Super Kings,12,6,...,102,78,5,NaN,9,8,0,"('Abdul Samad', 'H Klaasen')",NaN,False
255004,118406,1426284,2024-04-28,T20,Indian Premier League,2,Sunrisers Hyderabad,Chennai Super Kings,13,1,...,102,79,5,NaN,9,9,0,"('Abdul Samad', 'H Klaasen')",NaN,False

Chunk 53:

,Unnamed: 0,match_id,date,match_type,event_name,innings,batting_team,bowling_team,over,ball,...,team_runs,team_balls,team_wicket,new_batter,batter_runs,batter_balls,bowler_wicket,batting_partners,next_batter,striker_out
260000,123402,1426307,2024-05-19,T20,Indian Premier League,2,Sunrisers Hyderabad,Punjab Kings,13,4,...,175,82,3,NaN,37,24,0,"('H Klaasen', 'Nithish Kumar Reddy')",NaN,False
260001,123403,1426307,2024-05-19,T20,Indian Premier League,2,Sunrisers Hyderabad,Punjab Kings,13,5,...,176,83,3,NaN,25,13,0,"('H Klaasen', 'Nithish Kumar Reddy')",NaN,False
260002,123404,1426307,2024-05-19,T20,Indian Premier League,2,Sunrisers Hyderabad,Punjab Kings,13,6,...,176,84,4,NaN,37,25,1,"('H Klaasen', 'Nithish Kumar Reddy')",Shahbaz Ahmed,True
260003,123405,1426307,2024-05-19,T20,Indian Premier League,2,Sunrisers Hyderabad,Punjab Kings,14,1,...,177,85,4,Shahbaz Ahmed,26,14,0,"('H Klaasen', 'Shahbaz Ahmed')",NaN,False
260004,123406,1426307,2024-05-19,T20,Indian Premier League,2,Sunrisers Hyderabad,Punjab Kings,14,2,...,177,86,4,NaN,0,1,0,"('H Klaasen', 'Shahbaz Ahmed')",NaN,False

Chunk 54:

,Unnamed: 0,match_id,date,match_type,event_name,innings,batting_team,bowling_team,over,ball,...,team_runs,team_balls,team_wicket,new_batter,batter_runs,batter_balls,bowler_wicket,batting_partners,next_batter,striker_out
265000,128402,1473455,2025-04-05,T20,Indian Premier League,1,Rajasthan Royals,Punjab Kings,6,6,...,62,42,0,NaN,35,25,0,"('SV Samson', 'YBK Jaiswal')",NaN,False
265001,128403,1473455,2025-04-05,T20,Indian Premier League,1,Rajasthan Royals,Punjab Kings,7,1,...,62,43,0,NaN,35,26,0,"('SV Samson', 'YBK Jaiswal')",NaN,False
265002,128404,1473455,2025-04-05,T20,Indian Premier League,1,Rajasthan Royals,Punjab Kings,7,2,...,63,44,0,NaN,36,27,0,"('SV Samson', 'YBK Jaiswal')",NaN,False
265003,128405,1473455,2025-04-05,T20,Indian Premier League,1,Rajasthan Royals,Punjab Kings,7,3,...,63,45,0,NaN,26,18,0,"('SV Samson', 'YBK Jaiswal')",NaN,False
265004,128406,1473455,2025-04-05,T20,Indian Premier League,1,Rajasthan Royals,Punjab Kings,7,4,...,67,46,0,NaN,30,19,0,"('SV Samson', 'YBK Jaiswal')",NaN,False

Chunk 55:

,Unnamed: 0,match_id,date,match_type,event_name,innings,batting_team,bowling_team,over,ball,...,team_runs,team_balls,team_wicket,new_batter,batter_runs,batter_balls,bowler_wicket,batting_partners,next_batter,striker_out
270000,270000,1473476,2025-04-21,T20,Indian Premier League,1,Gujarat Titans,Kolkata Knight Riders,10,6,...,104,66,0,NaN,50,33,0,"('B Sai Sudharsan', 'Shubman Gill')",NaN,False
270001,270001,1473476,2025-04-21,T20,Indian Premier League,1,Gujarat Titans,Kolkata Knight Riders,11,1,...,105,67,0,NaN,51,35,0,"('B Sai Sudharsan', 'Shubman Gill')",NaN,False
270002,270002,1473476,2025-04-21,T20,Indian Premier League,1,Gujarat Titans,Kolkata Knight Riders,11,2,...,106,68,0,NaN,51,34,0,"('B Sai Sudharsan', 'Shubman Gill')",NaN,False
270003,270003,1473476,2025-04-21,T20,Indian Premier League,1,Gujarat Titans,Kolkata Knight Riders,11,3,...,107,69,0,NaN,52,36,0,"('B Sai Sudharsan', 'Shubman Gill')",NaN,False
270004,270004,1473476,2025-04-21,T20,Indian Premier League,1,Gujarat Titans,Kolkata Knight Riders,11,4,...,108,70,0,NaN,52,35,0,"('B Sai Sudharsan', 'Shubman Gill')",NaN,False

Chunk 56:

,Unnamed: 0,match_id,date,match_type,event_name,innings,batting_team,bowling_team,over,ball,...,team_runs,team_balls,team_wicket,new_batter,batter_runs,batter_balls,bowler_wicket,batting_partners,next_batter,striker_out
275000,275000,1473499,2025-05-19,T20,Indian Premier League,2,Sunrisers Hyderabad,Lucknow Super Giants,0,2,...,1,1,0,NaN,0,1,0,"('Abhishek Sharma', 'Atharva Taide')",NaN,False
275001,275001,1473499,2025-05-19,T20,Indian Premier League,2,Sunrisers Hyderabad,Lucknow Super Giants,0,2,...,1,2,0,NaN,0,2,0,"('Abhishek Sharma', 'Atharva Taide')",NaN,False
275002,275002,1473499,2025-05-19,T20,Indian Premier League,2,Sunrisers Hyderabad,Lucknow Super Giants,0,3,...,5,3,0,NaN,4,3,0,"('Abhishek Sharma', 'Atharva Taide')",NaN,False
275003,275003,1473499,2025-05-19,T20,Indian Premier League,2,Sunrisers Hyderabad,Lucknow Super Giants,0,4,...,6,4,0,NaN,5,4,0,"('Abhishek Sharma', 'Atharva Taide')",NaN,False
275004,275004,1473499,2025-05-19,T20,Indian Premier League,2,Sunrisers Hyderabad,Lucknow Super Giants,0,5,...,7,5,0,NaN,1,1,0,"('Abhishek Sharma', 'Atharva Taide')",NaN,False